body
{
   display: flex;
    flex-direction: column;
    background-color: #40588f;
    width: auto;
}
#content
{
    background-color: #163376;
    width: 40%;
    
}
#contener
{
    display: flex;
    flex-direction: column;
    width: 40%;
}
img
{
    height:32px;
    width: 32px;
}